$base-color: rgba(0, 0, 0, 0.72);
$btn-color: #D2232A;
$default_font: "Ubuntu";
$search_button: #D2232A;
$mid_text: #464343;
$font-med: 1.125rem; // its 14px
$font-sm: 0.875rem; // its 18px 
$font-lg: 1.25rem; // its 20px 
$font-xlg: 3.25rem; // its 52px


// 640px, 1024px, 1400px

$breakpoints-up: ("medium": "48.063em", "large": "64em", "xlarge": "87.5em");

// 639px, 1023px, 1399px

$breakpoints-down: ("small": "48em","medium": "63.9375em", "large": "87.4375em");

@mixin breakpoint-up($size) {
    @media (min-width: map-get($breakpoints-up, $size)){
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)){
        @content;
    }
}

